@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
  overscroll-behavior-y: none;
}

h1 {
/*  font-family: 'Abril Fatface', cursive;*/
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:64px;
  color: #FFF;
  z-index: 10;
}
/*p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}*/

.header {
  position: relative;
  text-align: center;
  background-color: #03045e;
  color: white;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-header {
  width:100%;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.inner-header img {
  margin-top: 50px;
  margin-left: 50px;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  text-align:center;
  background-color: #023E8A;
  flex-direction: column;
}

.about-container {
  width: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #023E8A;
}

.desc {
  width: 70%;
  height: 90%;
  text-align: left;
  color: #FFF;
}

.desc h1 {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  margin: 0;
  margin-bottom: -20px;
}

.desc p {
  font-family: 'Sono', sans-serif;
}

.socials-container {
  width: 700px;
  margin-bottom: 10px;
}

.social {
/*  border: 1px solid #FFF;*/
  color: #FFF;
  font-family: 'Sono', sans-serif;
  width: 33%;
}

.social i {
  font-size: 32px;
}

.projects-container {
  width: 700px;
  flex-direction: column;
}

.project {
  width: 100%;
  height: 200px;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  flex-direction: column;
  justify-content: normal;
}

.project:hover {
  transform: scale(1.05);
}

.project-top {
  margin-top: 0px;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.project-bottom {
  width: 100%;
  margin-top: -30px;
  justify-content: flex-end;
}

.project-desc {
  width: 70%;
  height: 90%;
  text-align: left;
  color: #023E8A;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.project-desc  h1 {
  font-family: 'Sono', sans-serif;
  font-size: 32px;
  margin: 0;
  margin-bottom: -20px;
  color: #023E8A;
}

.project-desc  p {
  font-family: 'Sono', sans-serif;
}

.server-block {
  width: 45px;
  height: 15px;
  background-color: #023E8A;
  border-radius: 10px;
  margin-right: 20px;
}

#sb3 {
  margin-right: 30px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.color-block {
  width: 30px;
  height: 30px;
  border-radius: 1px;
}

#c1 {
  background-color: #C9184A;
}

#c2 {
  background-color: #40916C;
}

#c3 {
  background-color: #0077B6;
}

 .menu {
   position: fixed;
/*   top: 10px;*/
  bottom: 10px;
   right: 10px;
   padding: 30px;
   background: #FFF;
   border-radius: 100%;
   cursor: pointer;
   z-index: 300;
/*   box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);*/
}
 .menu::before, .menu::after {
   content: "";
   background: #0077B6;
   border-radius: 5px;
   width: 30px;
   height: 5px;
   position: absolute;
   left: 16px;
   top: 27px;
   transition: 0.2s ease;
   z-index: 1;
}
 .menu::before {
   transform: rotate(0deg);
}
 .menu::after {
   transform: rotate(-90deg);
}
 .menu.open {
   opacity: 1;
}
 .menu.open::before {
   transform: rotate(45deg);
}
 .menu.open::after {
   transform: rotate(-45deg);
}
 .menu.open .button {
   opacity: 1;
   pointer-events: auto;
}
 .menu.open .button:first-of-type {
   bottom: 80px;
  background-color: #FFF;
  padding: 15px;
}
 .menu.open .button:nth-of-type(2) {
   bottom: 160px;
  background-color: #FFF;
   transition-delay: 0.05s;
   padding: 15px;
}
 .menu.open .button:last-of-type {
   bottom: 240px;
  background-color: #FFF;
   transition-delay: 0.1s;
   padding: 15px;
}

 .button {
   padding: 30px;
   border-radius: 50%;
   cursor: pointer;
   background: #e8e8f3;
   position: absolute;
   bottom: 0;
   right: 0;
   opacity: 0;
   pointer-events: none;
   box-shadow: inherit;
   transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}
 .button:hover {
   transform: scale(1.1);
}

.upload-container {
  background-color: #023E8A;
  width: 700px;
  height: 1200px;
}



